<div class="container">
  <div class="top_head">
    <div class="heading">
      Motoboy for {{headName}}
    </div>
    <div class="text">{{detail}}</div>
  </div>


  <div class="body_container">
    <div class="header">
      <div class="title"></div>
      <div class="subtext"></div>
    </div>

    <app-circles></app-circles>

    <div class="services_image">
      <div class="img"><img src="" alt=""></div>
      <div class="services">
        <div class="icon"></div>
        <div class="sub_detail">
          <div class="subhead"></div>
          <div class="sub_text"></div>
        </div>
      </div>
    </div>

    <app-download-options></app-download-options>


  </div>
</div>
