.container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -3;
  img {
    width: 100%;
    height: 100vh;
    display: block;
    object-fit: cover;
    background-position: center;
  }
}
