<div class="container">
  <div class="head_para">
    <div class="head">WE ARE EXPERTS ON THE SUBJECT!</div>
    <div class="para">Why is it that when you need a motorcycle courier the most, you won't find any?</div>
    <br><br>
    <div class="para">He worked, spent money on marketing for the company, sold his product, but when it comes to delivering, where's the courier?</div>
    <br><br>
    <div class="para">Or did your customer receive the product, but it arrived cold and he will return it or will he not buy more from you?</div>
  </div>

  <div class="head_para">
    <div class="head">DO YOU KNOW WHY?</div>
    <div class="para">In commerce in general with a great competition, if we think about our industry, we realize that some of our competitors to win the customer offer 10 free deliveries, others put the price down and so on.</div>
    <br><br>
    <div class="para">But forget about the other side, the less you pay, the less will be passed on to the professional motorcyclist.</div>
  </div>

  <div class="head_para">
    <div class="head">YOU AS A BUSINESSMAN WILL ASK YOURSELF, WHAT DO I HAVE TO DO WITH THIS?</div>
    <div class="para">Imagine peak hours, or holiday eve, or holiday return, such a Friday, with this conglomerate of companies that offer this type of service, makes the professionals who are online accept only those deliveries with higher rates or those maybe it’s very close, but that doesn’t solve your problem, or does your delivery sell only to those on your side?</div>
  </div>

  <div class="head_para">
    <div class="head">SOLUTION</div>
    <div class="para">We at Motoboy.App are specialists in the subject, we are in the market to offer our partner client a solution for their Delivery, we are online to serve you either at Lunch or Dinner every day.</div>
    <br><br>
    <div class="para">Our method works, because we value the motorcycle partner, come and be part of this story, bring your restaurant, pizzeria, hamburger and from there do the following: Take care of sales, because we take care of delivery!</div>
    <br><br>
    <div class="para">Leave your data and find out exclusively about this new solution.</div>

  </div>

  <div class="form">
    <form action="">
      <div class="input_container"><input type="text" placeholder="Name"></div>
      <div class="input_container"><input type="text" placeholder="Restaurant"></div>
      <div class="input_container"><input type="email" placeholder="Email"></div>
      <div class="input_container"><input type="tel" placeholder="Telephone"></div>
      <div class="input_container"><input type="number" placeholder="Average number of deliveries per day."></div>
      <div class="input_container"><textarea name="" placeholder="Leave your message, then our specialist returns the contact." id="" cols="30" rows="10"></textarea></div>
      <div class="button_container"><button>Submit</button></div>
    </form>
  </div>
</div>
